<div class="nombre-sitio contenedor">
	<h1>
		<a href="/">devJobs</a>
	</h1>

	{{#if cerrarSesion}}
		<div class="cerrar-sesion">
			<p>Hola ! {{nombre}}</p>
			{{#if imagen}}
				<img src="/uploads/perfiles/{{imagen}}" class="admin-perfil" />
			{{/if}}
			<a href="/administracion">Administracion</a>
			<a href="/cerrar-sesion">Cerrar sesion</a>
		</div>
	{{/if}}
</div>