<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/trix.css">
	<title>{{nombrePagina}}</title>
</head>
<body>

	{{> menu}}

	<header class="site-header contenedor separador">
		<h2>{{nombrePagina}}</h2>

		{{#if tagline}}
			<p class="tagline">{{tagline}}</p>
		{{/if}}

		{{#if boton}}
			<a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
		{{/if}}
	</header>

	<main class="contenedor">
		<form action="/restablecer-password" method="POST" class="default-form">
			<div class="campo">
				<label>E-mail</label>
				<input type="email" name="email" placeholder="Tu Email" required />
			</div>

			<div class="campo acciones">
				<a href="/iniciar-sesion">Volver a iniciar sesion</a>
			</div>

			<div class="campo">
				<input type="submit" value="Restablecer Password" class="btn btn-azul" />
			</div>
		</form>
	</main>

	{{#if mensajes}}
		<div class="alertas">
			{{#mostrarAlertas mensajes}}
			{{/mostrarAlertas}}
		</div>
	{{/if}}
	
	<script type="text/javascript" src="/dist/bundle.js"></script>

</body>
</html>